
//bg lines

.bg-lines{
    background-image:url('../../images/bg-lines.png'); 
}
.bg-lines-dark{
    background-image:url('../../images/bg-lines-dark.png');
    
}
.bg-subscribe{
    background-image:url('../../images/bg-subscribe.png');
    background-size:auto;
    background-repeat: no-repeat;
    background-position: 65% -26px;
}