.header-bar{
    position:relative;
    z-index:9999;
}

.navbar-brand{
    margin-right:0px;
    img{
        width:130px;
        @media(min-width:992px){
            width:190px;
        }
    }
}

button.navbar-toggler{
    border:none;
}